<div class = "top">
    <%= image_tag("NEW_LOGO.png" , class: "toplogo")%>
    <div class ="log">
    <%= image_tag("final_face.png" , class: "pic")%>
    <%= link_to 'LOG OUT', destroy_model_session_path, method: :delete, class: "inside" %>
  </div>

</div>
