<div class = "top">
    <%= image_tag("NEW_LOGO.png" , class: "toplogo")%>
    <div class ="log">
    <%= image_tag("final_face.png" , class: "pic")%>
    <p class ="inside"> LOG IN</p>
  </div>

</div>
