

<div class = "header">
    <%= image_tag("NEW_LOGO.png" , class: "img-responsive logo")%>
</div>

<div class ="container-fluid main tk-adelle2">
  <h3>Gather your best moments, thoughts, and actions from any day.</h3>
  <p>HappyDay is your online storage space to retrive good memories that happen thoughout your week. <br>Your own online “happy place” for IRL moments.</p>
<button type="button" class="btn btn-primary move">Sign Up</button>
</div>


  <!--  <%= link_to 'My Blog', controller: 'articles' %>
    <%= link_to 'New article', new_article_path %>
<%= image_tag("clouds.png" , class: "img-responsive")%>
   -->
