
* {
  margin: 0;
  font-family: "adelle";
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 250px;
}


h1 {
  color:green;
}

.log {
background-color: white;
width: 115px;
height: 30px;
position: absolute;
top: 60px;
right: 0;
box-shadow: 20px 2px 7px #888888;
}

.pic {
width: 30px;
position: absolute;
left: -9px;

}
.header {
  background: image-url('clouds.png') no-repeat;
  background-size: cover;
  height: 40%;
  width:100%;
}

.top{
  background: image-url('clouds.png') no-repeat;
  background-size: cover;
  padding: 50px;
  width:100%;
  position: relative;
}
.main {
  padding-top:35px;
background-color: white;
text-color: white;
text-align: center;
padding-bottom: 4%;
margin-top: 20px;
width: 80%;

}


footer {
  background: image-url('footer.png') no-repeat;
  background-size: cover;
  padding: 70px 0px;
  background-position: 50% 50%;

  position: absolute;
  bottom: 0;
  width: 100%;
}


.footerspace {
  margin-top: 2%;
}

.table {

  padding-top: 20px;
  padding-bottom: 20px;
}

.space {
  padding-top: 20px;
  padding-bottom: 20px;

  width: 80%;
  margin:auto;
}


.space2 {

  margin-top: 5%;
  padding-bottom: 5%
}

.space3 {

margin-left: 2%;
}



.mainwords {

  margin: 0px;
  padding: 0px;
  text-align: center;
}

.mainwords li {

  display: inline;
  font-size: 20px;
  color: white;
  margin: 0px 10px;
}

.tk-adelle {

  font-family: "adelle",serif;
  letter-spacing: 2px;
}


.tk-adelle2 {

  font-family: "adelle",serif;

}

.social {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.social li {
  display: inline;
}

.social img {
  display: inline;
width: 40px;
}

.logo {
  width: 50%;
  margin: auto;
}

.logo2 {
  width: 100%;

}
.toplogo {
  width:40%;
}

.title {
  margin-top: 7%;
text-align: center;
padding-bottom: 10px;
color: #858585;
font-family: "adelle",serif;
}
.new {
  text-align: center;
  margin:auto;
overflow: hidden;
}

.space {
  margin-top: 7px;
}

.show {
padding-top: 20px;
padding-bottom: 25px;
  font-size: 20px;
  margin-top: 20px;
  color: #323333;
}

.wrapper1 {
  padding-bottom: 20px;
}

.move {
  margin-top:20px;
  background-color: #FFF205;
  border-color: #FFF205;
  color: #858585;
  font-size: 15px;
}
.inside {
  text-align: center;
  padding-top:5%;
  letter-spacing: 1px;
  color: #3aaede;
  position: absolute;
  right: 20px;
}

.inside2 {
  text-align: center;
  padding-top:5%;
  letter-spacing: 1px;
  color: #3aaede;
  position: absolute;
  right: 15px;
}

.log2 {
background-color: white;
width: 115px;
height: 30px;
position: absolute;
top: 40px;
right: 0;
box-shadow: 7px 2px 7px #888888;
}

.block {
  display: block;
  clear: both;
  margin:auto;
  text-align: center;
  font-size: 15px;
  padding-bottom: 20px;
}

.hold {
  max-width: 900px;
  margin: auto;
  background-color: red;
  text-align: center;
}

.middle {
  width: 50%;
  margin: auto;

}


.less {

  margin-top: -5%;
}

.middle3 {
  width: 80%;
  margin: auto;
  overflow: hidden;
  clear: left;
  background-color: red;
}

.post {

background-color: #29A9E0;
color: white;
margin-left: 2%;
padding: 5%;
border-radius: 5px;
margin-bottom: 5%;

}

.grid-item {

}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


.line {

border-top: 1px white solid;
margin-top: 8%;
padding-top: 3%;

}

.leftstep{
  position: relative;
  background-color: red;
  width: 100%;
}


.links {
bottom: 1%;
right:0;
position: absolute;
}


.field {
  margin-top: 3%;
}

.actions {
  margin-top: 5%;
  margin-bottom: 40px;
}



.topspace {

  padding-top: 70px;
}



@media (max-width: 800px) {

.middle {

width: 80%;

}

.social {

  margin-top: 20px;
}

.topspace {
  height: 30px;
}

.log2 {

top: 10px;

}


}
